<div class="container">
    <!-- <div class="header-warp">
        <div class="personal-info">
            <div class="profle-pic">
                <img src="assets//avatar-profile/avatar.svg" alt="profile">
            </div>
            <div class="info">
                <div class="name">
                    <h1>Name:</h1>
                    <p>Julia Roberts</p>
                </div>
                <div class="id">
                    <h1>ID:</h1>
                    <p>DM-12345</p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="app-wrap">
        <h2>APP IN</h2>
        <div class="app-container">
            <div class="app-item" *ngFor="let app of appIn">
                <a [routerLink]="app.path" *ngIf="app.type == 'routing'">
                    <div class="app-icon">
                        <img [src]="app.img" [alt]="app.name">
                    </div>
                </a>
                <a *ngIf="app.type == 'alert'" (click)="onAppClick(app, $event)">
                    <div class="app-icon">
                        <img [src]="app.img" [alt]="app.name">
                    </div>
                </a>
                <a [href]="app.path" *ngIf="app.type == 'link'">
                    <div class="app-icon">
                        <img [src]="app.img" [alt]="app.name">
                    </div>
                </a>
                <p>{{ app.name }}</p>
            </div>
        </div>
        <hr class="hr-1" style="margin: 30px 0 0 0;">
        <h2>APP OUT</h2>
        <div class="app-container">
            <div class="app-item" *ngFor="let app of appOut">
                <a [routerLink]="app.path" *ngIf="app.type == 'routing'">
                    <div class="app-icon">
                        <img [src]="app.img" [alt]="app.name">
                    </div>
                </a>
                <a *ngIf="app.type == 'alert'">
                    <div class="app-icon">
                        <img [src]="app.img" [alt]="app.name">
                    </div>
                </a>
                <a [href]="app.path" *ngIf="app.type == 'link'">
                    <div class="app-icon">
                        <img [src]="app.img" [alt]="app.name">
                    </div>
                </a>
                <p>{{ app.name }}</p>
            </div>

        </div>
    </div>

    <div *ngIf="isPassAlertVisible || isAnimating" class="backdrop" (click)="closePassAlert()">
        <app-pass-alert
            [ngClass]="{'animate-alert-in': isPassAlertVisible, 'animate-alert-out': isAnimating}"></app-pass-alert>
    </div>

    <div *ngIf="isCarAlertVisible || isAnimating" class="backdrop" (click)="closeCarAlert()">
        <app-car-alert
            [ngClass]="{'animate-alert-in': isCarAlertVisible, 'animate-alert-out': isAnimating}"></app-car-alert>
    </div>
</div>