$color1: #265F61;
$color2: #36858A;
$color3: #265F62;
$color4: #d4e4e4;
$color5: #A9A9AC;
$color6: #ff4545;
$color7: #eac027;


.car-view{
    height: 100vh;
    .car-view-box{
        .car-view-wrap{
            margin-top: 90px;
            .head{
                display: flex;
                align-items: center;
                img{
                    width: 30px;
                    height: 30px;
                    margin-right: 12px;
                    filter: invert(27%) sepia(35%) saturate(800%) hue-rotate(143deg) brightness(95%) contrast(90%);
                }
                h1{
                    margin-top: 12px;
                    font-size: 18px;
                    font-weight: bold;
                    color: $color1;
                }
            }

            .car-view-table {
                margin-top: 35px;
                width: 100%;
                border-collapse: collapse;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
                border: 1px solid $color5;
                th, td {
                    padding: 16px 12px;
                    font-size: 12px;
                    border: 1px solid $color5;
                }
                
                th {
                    background-color: $color2;
                    color: white;
                    text-align: start;
                    font-weight: bold;
                }
                
                // tbody tr:nth-child(odd) {
                //     background-color: $color4;
                // }
                
                
                colgroup {
                    col:nth-child(1) {
                        width: 37%;
                    }
                    col:nth-child(2) {
                        width: 63%;
                    }
                }
            }

            .btn-wrap {
                margin-top: 40px;
                padding-bottom: 100px;
                .edit-btn {
                    width: 100%;
                    background-color: $color1;
                    color: white;
                    font-weight: bold;
                    border-radius: 5px;
                    border: 0px;
                    height: 41px;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    
                    p {
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
    
                .edit-btn:hover {
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                    cursor: pointer;
                }
    
                .delete-btn {
                    margin-top: 16px;
                    width: 100%;
                    color: white;
                    background-color: $color6;
                    border-radius: 5px;
                    border: 0px;
                    height: 41px;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    
                    p {
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
    
                .delete-btn:hover {
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                    cursor: pointer;
                }
            }
        }
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

.animate-alert-in {
    animation: zoomIn 0.3s ease-out forwards;
}

.animate-alert-out {
    animation: zoomOut 0.3s ease-out forwards;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

// -------------------------------------------------------------------------------------

@media (min-width: 600px) {
    .car-view{
        .car-view-box{
            .car-view-wrap{
                .btn-wrap {
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-between;
                    .edit-btn {
                        width: 48%;

                        p {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                    .delete-btn {
                        margin-top: 0px;
                        width: 48%;
                        p {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

// -------------------------------------------------------------------------------------

@media (min-width: 1024px) {
    .car-view{
        height: 100vh;
        .car-view-box{
            display: flex;
            justify-content: center;
            .car-view-wrap{
                margin-top: 90px;
                width: 50%;
                .car-view-table {
                    margin-top: 35px;
                    width: 100%;
                    border-collapse: collapse;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
                    border: 1px solid $color5;
                    th, td {
                        padding: 16px 12px;
                        font-size: 14px;
                        border: 1px solid $color5;
                    }
                    
                    th {
                        background-color: $color2;
                        color: white;
                        text-align: start;
                        font-weight: bold;
                    }
                    
                    // tbody tr:nth-child(odd) {
                    //     background-color: $color4;
                    // }
                    
                    
                    colgroup {
                        col:nth-child(1) {
                            width: 37%;
                        }
                        col:nth-child(2) {
                            width: 63%;
                        }
                    }
                }
    
                .btn-wrap {
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-between;
                    .edit-btn {
                        width: 48%;
                        color: white;
                        font-weight: bold;
                        height: 41px;
                        p {
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                    .delete-btn {
                        margin-top: 0px;
                        width: 48%;
                        color: white;
                        background-color: $color6;
                        border-radius: 5px;
                        border: 0px;
                        height: 41px;
                        p {
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
        
                }
            }
        }
    }
}