$color1: #265F61;
$color2: #36858A;
$color3: #265F62;
$color4: #d4e4e4;

.edit-profile{
    background-color: #{$color2};
    width: 300px;
    border-radius: 5px;
    
    .edit-profile-wrap{
        padding-top:20px ;
        .head{
            display: flex;
            margin-bottom: 20px;
            img{
                width: 21px;
                height: 21px;
                filter: invert(1) brightness(2);
            }
            h1{
                font-size: 18px;
                font-weight: bold;
                color: white;
            }
        }
    
        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .form-item{
                margin: 8px 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                label{
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                    margin-bottom: 3px;
                }
                input{
                    height: 20px;
                    border-radius: 5px;
                    border: 0px;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                    padding: 0 5px;
                    &:focus {
                        outline:2px solid #{$color1};
                        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    }
                    &::placeholder {
                        opacity: 0.8; 
                    }
                }
            }
        }

        .btn-wrap{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            padding-bottom: 30px;
            .confirm-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                height: 32px;
                background-color: #{$color3};
                border-radius: 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

                p {
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .confirm-btn:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                cursor: pointer;
            }

            .cancel-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                height: 32px;
                background-color: #{$color4};
                border-radius: 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

                p {
                    color: #{$color1};
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .cancel-btn:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                cursor: pointer;
            }
        }
    }
}