<div class="pass-form">
    <div class="container">
        <div class="pass-form-box">
            <div class="pass-form-wrap">
                <div class="head">
                    <img src="/assets/icon/portfolio.svg" alt="pass">
                    <h1>Employee Pass Form</h1>
                </div>
                <div class="form">
                    <div class="form-wrap">
                        <div class="form-item">
                            <label>Departure date/time <span class="required" *ngIf="!departureDate || !departureTime">*</span></label>
                            <div class="departure-input">
                                <input id="departure-date" name="departuredate" type="date" [(ngModel)]="departureDate">
                                <input id="departure-time" name="departuretime" type="time" [(ngModel)]="departureTime">
                            </div>
                        </div>                        
                        <div class="form-item">
                            <label>Return date/time <span class="required" *ngIf="!returnDate || !returnTime">*</span></label>
                            <div class="return-input">
                                <input id="return-date" type="date" [(ngModel)]="returnDate">
                                <input id="return-time" name="returntime" type="time" [(ngModel)]="returnTime">
                            </div>
                        </div>
                        <div class="form-item">
                            <label for="location">Location <span class="required" *ngIf="!selectedLocation">*</span></label>
                            <div class="location-input">
                                <select id="location" name="selectedLocation" [(ngModel)]="selectedLocation">
                                    <option value="" disabled selected hidden>กรุณาเลือกสถานที่</option>
                                    <option *ngFor="let location of locations" [value]="location.value">{{ location.label }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-item" *ngIf="selectedLocation === '-1'">
                            <label for="other">Other location <span class="required" *ngIf="!other">*</span></label>
                            <div class="other-input">
                                <input type="text" id="other" name="other" placeholder="ระบุสถานที่"
                                    [(ngModel)]="other">
                            </div>
                        </div>
                        <div class="form-item">
                            <label for="purpose">Purpose of departure <span class="required" *ngIf="!purpose">*</span></label>
                            <div class="purpose-input">
                                <input type="text" id="purpose" name="purpose" placeholder="วัตถุประสงค์ในการเดินทาง" [(ngModel)]="purpose">
                            </div>
                        </div>
                        <div class="form-item">
                            <label for="remark">Remark</label>
                            <div class="remark-input">
                                <textarea id="remark" name="remark" placeholder="หมายเหตุ"></textarea>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="passenger-input">
                                <input type="checkbox" id="passenger" name="isChecked" [(ngModel)]="isChecked">
                                <label for="passenger">Passenger (ผู้โดยสาร)</label>
                            </div>
                        </div>
                        <div class="form-item" *ngIf="isChecked">
                            <div class="passenger-car-input">
                                <select id="passenger-car" name="passenger-car">
                                    <option value="0" disabled selected hidden>กรุณาเลือกรถที่โดยสาร</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button (click)="onAppClick()" type="submit" class="confirm-btn">
                        <p>Confirm</p>
                    </button>
                    <button (click)="goBack()" class="cancel-btn">
                        <p>Cancel</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isWarningAlertVisible || isAnimating" class="backdrop" (click)="closeWarningAlert()">
    <app-warning-alert [ngClass]="{'animate-alert-in': isWarningAlertVisible, 'animate-alert-out': isAnimating}"
        [message]="alertMessage" (cancel)="closeWarningAlert()"></app-warning-alert>
</div>

<div *ngIf="isSuccessAlertVisible || isAnimating" class="backdrop" (click)="closeSuccessAlert()">
    <app-success-alert [ngClass]="{'animate-alert-in': isSuccessAlertVisible, 'animate-alert-out': isAnimating}"
        [message]="alertMessage" (cancel)="closeSuccessAlert()"></app-success-alert>
</div>