<div class="container">
    <table>
        <caption>Test Table</caption>
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Departure date</th>
                <th scope="col">Departure time</th>
                <th scope="col">Return date</th>
                <th scope="col">Return time</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
                <th scope="col">Print</th>
                <th scope="col">Choice</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="No.">1</td>
                <td data-label="Departure date">04/01/2016</td>
                <td data-label="Departure time">9:00</td>
                <td data-label="Return date">03/01/2016</td>
                <td data-label="Return time">9:00</td>
                <td data-label="Location">xxxx</td>
                <td data-label="Status">xxxx</td>
                <td data-label="Print">xxxx</td>
                <td data-label="Choice">xxxx</td>
            </tr>
            <tr>
                <td data-label="No.">1</td>
                <td data-label="Departure date">04/01/2016</td>
                <td data-label="Departure time">9:00</td>
                <td data-label="Return date">03/01/2016</td>
                <td data-label="Return time">9:00</td>
                <td data-label="Location">xxxx</td>
                <td data-label="Status">xxxx</td>
                <td data-label="Print">xxxx</td>
                <td data-label="Choice">xxxx</td>
            </tr>
            <tr>
                <td data-label="No.">1</td>
                <td data-label="Departure date">04/01/2016</td>
                <td data-label="Departure time">9:00</td>
                <td data-label="Return date">03/01/2016</td>
                <td data-label="Return time">9:00</td>
                <td data-label="Location">xxxx</td>
                <td data-label="Status">xxxx</td>
                <td data-label="Print">xxxx</td>
                <td data-label="Choice">xxxx</td>
            </tr>
            <tr>
                <td data-label="No.">1</td>
                <td data-label="Departure date">04/01/2016</td>
                <td data-label="Departure time">9:00</td>
                <td data-label="Return date">03/01/2016</td>
                <td data-label="Return time">9:00</td>
                <td data-label="Location">xxxx</td>
                <td data-label="Status">xxxx</td>
                <td data-label="Print">xxxx</td>
                <td data-label="Choice">xxxx</td>
            </tr>
            <tr>
                <td data-label="No.">1</td>
                <td data-label="Departure date">04/01/2016</td>
                <td data-label="Departure time">9:00</td>
                <td data-label="Return date">03/01/2016</td>
                <td data-label="Return time">9:00</td>
                <td data-label="Location">xxxx</td>
                <td data-label="Status">xxxx</td>
                <td data-label="Print">xxxx</td>
                <td data-label="Choice">xxxx</td>
            </tr>
        </tbody>
    </table>
</div>
