<div class="delete-alert">
    <div class="container">
        <div class="delete-alert-wrap">
            <div class="head">
                <ng-lottie [options]="options"></ng-lottie>
                <h1>Are you sure?</h1>
            </div>
            <div class="delete-alert-btn">
                <!-- <a routerLink="/car-list"> -->
                <div class="confirm-btn">
                    <p>Yes, Delete it!</p>
                </div>
                <!-- </a> -->
                <!-- <a routerLink="/car-form"> -->
                    <div class="cancel-btn" (click)="onCancel()">
                        <p>Cancel</p>
                    </div>
                <!-- </a> -->
            </div>
        </div>
    </div>
</div>
