$color1: #265F61;
$color2: #36858A;
$color3: #265F62;
$color4: #d4e4e4;
$color5: #ff4545;

.delete-alert{
    background-color: $color2;
    width: 300px;
    height: 300px;
    border-radius:10px ;
    .delete-alert-wrap{
        padding-top: 10px;
        .head{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            ng-lottie{
                width: 120px;
                height: 120px;
            }
            h1{
                font-size: 18px;
                font-weight: bold;
                color: white;
                margin-top: 16px;
            }
        }
        .delete-alert-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 120px;
            .confirm-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 32px;
                margin: 7.5px;
                background-color: $color5;
                border-radius: 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

                p{
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                }
            }

            .confirm-btn:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                cursor: pointer;
            }


            .cancel-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 7.5px;
                width: 200px;
                height: 32px;
                background-color: $color4;
                border-radius: 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

                p{
                    color: $color1;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .cancel-btn:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                cursor: pointer;
            }
        }
    }
}