$color1: #265F61;
$color2: #36858A;
$color3: #265F62;
$color4: #d4e4e4;
$color5: #A9A9AC;
$color6: #33c5ea;
$color7: #eac027;
$color8: #1bb9aa;

.head {
    margin-top: 100px;
    display: flex;
    align-items: center;

    img {
        width: 30px;
        height: 30px;
        margin-right: 12px;
        filter: invert(27%) sepia(35%) saturate(800%) hue-rotate(143deg) brightness(95%) contrast(90%);
    }

    h1 {
        margin-top: 12px;
        font-size: 18px;
        font-weight: bold;
        color: $color1;
    }
}

.table-wrap {
    margin-top: 25px;
    margin-bottom: 100px;

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    table th {
        background-color: $color2;
        color: white;
        font-weight: bold;
        font-size: 14px;
        padding: 24px 0px;
    }

    table tr:nth-child(even) {
        background-color: #edf0f6;
        /* สีพื้นหลังสำหรับแถวคู่ */
    }

    table tr:nth-child(odd) {
        background-color: white;
        /* สีพื้นหลังสำหรับแถวคี่ */
    }

    table tr {
        border-radius: 5px;
    }

    table td {
        font-size: 16px;
        padding: 24px;

        .bage-wrap {
            display: flex;
            justify-content: center;
            align-items: center;

            .bage-first-approve {
                width: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: green;
                border-radius: 5px;

                p {
                    font-size: 12px;
                    color: white;
                    padding: 5px;
                }
            }

            .bage-manager-approve {
                width: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color6;
                border-radius: 5px;

                p {
                    font-size: 12px;
                    color: white;
                    padding: 5px;

                }
            }

            .bage-unapprove {
                width: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color7;
                border-radius: 5px;

                p {
                    font-size: 12px;
                    color: white;
                    padding: 5px;
                }
            }
        }

        .Choice-wrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .row-1 {
                display: flex;
                .view-button {
                    background-color: $color1;
                    border-radius: 5px;
                    margin: 2.5px;
                    transition: transform 0.3s ease;
                    img {
                        width: 15px;
                        padding: 5px;
                        filter: invert(100%) brightness(100%);
                    }
                }
                .view-button:hover {
                    transform: scale(1.1);
                }
                .edit-button {
                    background-color: $color7;
                    border-radius: 5px;
                    margin: 2.5px;
                    transition: transform 0.3s ease;

                    img {
                        width: 15px;
                        padding: 5px;
                        filter: invert(100%) brightness(100%);
                    }
                }

                .edit-button:hover {
                    transform: scale(1.1);
                }
            }

            .row-2 {
                display: flex;
                .delete-button {
                    background-color: red;
                    border-radius: 5px;
                    margin: 2.5px;
                    transition: transform 0.3s ease;

                    img {
                        width: 15px;
                        padding: 5px;
                        filter: invert(100%) brightness(100%);
                    }

                }

                .delete-button:hover {
                    transform: scale(1.1);
                }


                .print-button {
                    background-color: $color8;
                    border-radius: 5px;
                    margin: 2.5px;
                    transition: transform 0.3s ease;

                    img {
                        width: 15px;
                        padding: 5px;
                        filter: invert(100%) brightness(100%);
                    }
                }

                .print-button:hover {
                    transform: scale(1.1);
                }
            }

        }
    }

    table th,
    table td {
        text-align: center;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

.animate-alert-in {
    animation: zoomIn 0.3s ease-out forwards;
}

.animate-alert-out {
    animation: zoomOut 0.3s ease-out forwards;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 900px) {
    .table-wrap {
        table {
            border: 0;
            box-shadow: none;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            display: block;
            margin-bottom: 30px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

        table td {
            display: block;
            font-size: 12px;
            text-align: right;
            // border-bottom: 1px $color5 solid;

            .print-wrap {
                justify-content: end;
            }

            .bage-wrap {
                justify-content: end;
            }

            .Choice-wrap {
                justify-content: end;
            }
        }

        table td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }

        // table tr:nth-child(even) {
        //     background-color: white; /* สีพื้นหลังสำหรับแถวคู่ */
        // }

        // table tr:nth-child(odd) {
        //     background-color: white; /* สีพื้นหลังสำหรับแถวคี่ */
        // }
    }
}