<div class="pass-list">
    <div class="container">
        <div class="head">
            <img src="/assets/icon/portfolio.svg" alt="pass">
            <h1>Employee Pass List</h1>
        </div>
        <div class="table-wrap">
            <table>
                <thead>
                    <tr>
                        <th scope="col" style="width: 8%;">No.</th>
                        <th scope="col">Departure date/time</th>
                        <th scope="col">Return date/time</th>
                        <th scope="col">Location</th>
                        <th scope="col">Status</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of this.passList; let i = index">
                        <td data-label="No.">{{ i+1 }}</td>
                        <td data-label="Departure date/time">
                            <div>
                                {{row.epf_go_date | date: "dd-MM-yyyy"}}
                            </div>
                            <div>
                                 {{row.epf_go_time}}
                            </div>
                        </td>
                        <td data-label="Return date/time">
                            <div *ngIf="row.epf_back_date == null || row.epf_back_time == null">
                                -
                            </div>
                            <div>
                                {{ row.epf_back_date | date: "dd-MM-yyyy"}}
                            </div>
                            <div>
                                {{row.epf_back_time}}
                            </div>
                        </td>
                        <td data-label="Location"> 
                            <div *ngFor="let data of this.passList[i].site_name;  index as i">
                                {{i+1}}.
                                {{data.site_name}}
                            </div>
                        </td>
                        <td data-label="Status">
                            <div class="bage-wrap">
                                <div class="bage-unapprove" *ngIf="row.epf_state_id === 1">
                                    <p>{{row.state_name}}</p>
                                </div>
                                <div class="bage-first-approve" *ngIf="row.epf_state_id === 2">
                                    <p>{{row.state_name}}</p>
                                </div>
                                <div class="bage-manager-approve" *ngIf="row.epf_state_id === 3">
                                    <p>{{row.state_name}}</p>
                                </div>
                            </div>
                        </td>
                        <td data-label="Options">
                            <div class="Choice-wrap">
                                <div class="row-1">
                                    <a (click)="onClickView(row.epf_id)" class="view-button" title="ดูข้อมูล"><img
                                            src="assets/icon/search.svg" alt="view"></a>
                                    <a (click)="onClickEdit(row.epf_id)" title="แก้ไขข้อมูล" class="edit-button"><img
                                            src="assets/icon/pen.svg" alt="edit"></a>
                                </div>
                                <div class="row-2">
                                    <a class="print-button" title="ถ่ายข้อมูล"><img src="assets/icon/printing.svg"
                                            alt="print"></a>
                                    <a class="delete-button" title="ลบข้อมูล" (click)="onAppClick('delete', row)"><img
                                            src="assets/icon/recycle-bin.svg" alt="delete"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="isDeleteAlertVisible || isAnimating" class="backdrop" (click)="closeDeleteAlert()">
    <app-delete-alert [ngClass]="{'animate-alert-in' : isDeleteAlertVisible, 'animate-alert-out' : isAnimating}"
        (click)="$event.stopPropagation()" (cancel)="closeDeleteAlert()" (confirm)="deleteRow()">
    </app-delete-alert>
</div>