<div class="pass-list">
    <div class="container">
        <div class="head">
            <img src="/assets/icon/portfolio.svg" alt="pass">
            <h1>Employee Pass List</h1>
        </div>
        <div class="table-wrap">
            <table>
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Departure date/time</th>
                        <th scope="col">Return date/time</th>
                        <th scope="col">Location</th>
                        <th scope="col">Status</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of tableData; let i = index">
                        <td data-label="No.">{{ row.no }}</td>
                        <td data-label="Departure date/time">{{ row.departureDate }}</td>
                        <td data-label="Return date/time">{{ row.returnDate }}</td>
                        <td data-label="Location">{{ row.location }}</td>
                        <td data-label="Status">
                            <div class="bage-wrap">
                                <div class="bage-first-approve" *ngIf="row.status === '1'">
                                    <p>First Approve</p>
                                </div>
                                <div class="bage-manager-approve" *ngIf="row.status === '2'">
                                    <p>Manager Approve</p>
                                </div>
                                <div class="bage-unapprove" *ngIf="row.status === '3'">
                                    <p>Unapprove</p>
                                </div>
                            </div>
                        </td>
                        <td data-label="Options">
                            <div class="Choice-wrap">
                                <div class="row-1">
                                    <a routerLink="/pass-view" class="view-button" title="ดูข้อมูล"><img
                                            src="assets/icon/search.svg" alt="view"></a>
                                    <a routerLink="/edit-pass" title="แก้ไขข้อมูล" class="edit-button"><img
                                            src="assets/icon/pen.svg" alt="edit"></a>
                                </div>
                                <div class="row-2">
                                    <a class="print-button" title="ถ่ายข้อมูล"><img src="assets/icon/printing.svg"
                                            alt="print"></a>
                                    <a class="delete-button" title="ลบข้อมูล" (click)="onAppClick('delete', row)"><img
                                            src="assets/icon/recycle-bin.svg" alt="delete"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="isDeleteAlertVisible || isAnimating" class="backdrop" (click)="closeDeleteAlert()">
    <app-delete-alert [ngClass]="{'animate-alert-in' : isDeleteAlertVisible, 'animate-alert-out' : isAnimating}"
        (click)="$event.stopPropagation()" (cancel)="closeDeleteAlert()" (confirm)="deleteRow()">
    </app-delete-alert>
</div>