<div class="pass-alert">
    <div class="container">
        <div class="pass-alert-wrap">
            <div class="head">
                <img src="assets/portfolio.png" alt="">
                <h1>Select option</h1>
            </div>
            <div class="request-btn">
                <div class="list-btn" >
                    <p>Request list</p>
                </div>
                <div class="form-btn">
                    <p>Request form</p>
                </div>
            </div>
        </div>
    </div>
</div>