<div class="profile">
    <div class="container">
        <div class="profile-wrap">
            <div class="profile-box">
                <div class="profile-head">
                    <img src="assets/icon/user.svg" alt="">
                    <h1>My Profile</h1>
                </div>

                <div class="profile-body">
                    <div class="profile-body-wrap">
                        <div class="profile-pic">
                            <img [src]="profilePicUrl" alt="profile">
                            <div class="overlay">
                                <input type="file" (change)="onFileSelected($event)" accept="image/*" />
                                <img src="assets/icon/camera.svg" alt="">
                                &nbsp;
                                <p>Edit profile</p>
                            </div>
                        </div>
                        

                        <div class="info">
                            <div class="info-item" *ngFor="let user of users">
                                <h1>{{user.title}}</h1>
                                <p>{{user.info}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="leave-status">
                    <div class="leave-status-box">
                        <div class="leave-status-wrap">
                            <div class="leave-item" routerLink="/sick-leave-data">
                                <img src="assets/icon/sick.svg" alt="sick">
                                <h1>Sick leave</h1>
                                <hr style="width: 85%;" class="hr-2">
                                <p>Used: 3 days</p>
                                <p>Remain: 5 days</p>
                            </div>
                            <div class="leave-item" routerLink="/personal-leave-data">
                                <img src="assets/icon/personal.svg" alt="personal">
                                <h1>Personal leave</h1>
                                <hr style="width: 85%;" class="hr-2">
                                <p>Used: 3 days</p>
                                <p>Remain: 5 days</p>
                            </div>
                            <div class="leave-item" routerLink="/vacation-leave-data">
                                <img src="assets/icon/vacation.svg" alt="vacation">
                                <h1>Vacation leave</h1>
                                <hr style="width: 85%;" class="hr-2">
                                <p>Used: 3 days</p>
                                <p>Remain: 5 days</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-wrap">
                    <div class="edit-btn" (click)="showEditProfile()">
                        <p>Edit Profile</p>
                    </div>
                    <div class="change-btn" (click)="showChangePass()">
                        <p>Change Password</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- alert -->
        <div *ngIf="isEditProfileVisible || isAnimatingEdit" class="alert-backdrop" (click)="closeEditProfile()">
            <app-edit-profile
                [ngClass]="{'animate-alert-in': isEditProfileVisible, 'animate-alert-out': isAnimatingEdit}"
                (click)="$event.stopPropagation()" (cancel)="closeEditProfile()"></app-edit-profile>
        </div>
        <div *ngIf="isChangePassVisible || isAnimatingChange" class="alert-backdrop" (click)="closeChangePass()">
            <app-change-password
                [ngClass]="{'animate-alert-in': isChangePassVisible, 'animate-alert-out': isAnimatingChange}"
                (click)="$event.stopPropagation()" (cancel)="closeChangePass()"></app-change-password>
        </div>
    </div>
</div>