<div class="change-pass">
    <div class="container">
        <div class="change-pass-wrap">
            <div class="head">
                <img src="assets/icon/password.svg" alt="">
                <h1>Change your password</h1>
            </div>
            <div class="form">
                <div class="form-item">
                    <label for="new-pass">New password</label>
                    <input type="password" id="new-pass" name="new-pass" placeholder="Enter new password">
                </div>
                <div class="form-item">
                    <label for="confirm-pass">Confirm password</label>
                    <input type="password" id="confirm-pass" name="confirm-pass" placeholder="Enter confirm password">
                </div>
            </div>
            <div class="btn-wrap">
                <div class="confirm-btn" (click)="onAppClick()">
                    <p>Confirm</p>
                </div>
                <div class="cancel-btn" (click)="onCancel()">
                    <p>Cancel</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isMatchAlertVisible || isAnimating" class="backdrop" (click)="closeMatchAlert()">
    <app-match-alert [ngClass]="{'animate-alert-in' : isMatchAlertVisible, 'animate-alert-out' : isAnimating}"
        [message]="alertMessage"></app-match-alert>
</div>

