$color1: #265F61;
$color2: #36858A;
$color3: #265F62;
$color4: #d4e4e4;

.change-pass {
    background-color: #36858A;
    width: 300px;
    border-radius: 5px;
    z-index: 1;
}

.change-pass-wrap {
    padding-top: 20px;
}

.head {
    display: flex;
    margin-bottom: 20px;
}

.head img {
    width: 21px;
    height: 21px;
    filter: invert(1) brightness(2);
}

.head h1 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-left: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-item label {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px;
}

.form-item input {
    height: 20px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 0 5px;
}

.form-item input:focus {
    outline: 2px solid #265F61;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}

.form-item input::placeholder {
    opacity: 0.8;
}

.btn-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 30px;
    .confirm-btn{
        button{
            border: 0px;
            width: 120px;
            height: 32px;
            border-radius: 5px;
            background-color: $color1;
            color: white;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        }
        button:hover{
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }
    .cancel-btn{
        button{
            border: 0px;
            width: 120px;
            height: 32px;
            border-radius: 5px;
            background-color: $color4;
            color: $color1;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        }
        button:hover{
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.animate-alert-in {
    animation: zoomIn 0.3s ease-out forwards;
}

.animate-alert-out {
    animation: zoomOut 0.3s ease-out forwards;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}
