<div class="car-form">
    <div class="container">
        <div class="car-form-box">
            <div class="car-form-wrap">
                <div class="head">
                    <img src="/assets/icon/car.svg" alt="pass">
                    <h1>Car Request Edit Form</h1>
                </div>
                <div class="form">
                    <div class="form-wrap">
                        <div class="form-item">
                            <label for="car">Choose car <span class="required" *ngIf="!selectedCar">*</span></label>
                            <div class="car-input">
                                <select id="car" name="car" [(ngModel)]="selectedCar">
                                    <option value="" disabled selected hidden>กรุณาเลือกรถ</option>
                                    <option *ngFor="let car of cars" [value]="car.value">{{ car.label }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>Departure date/time <span class="required" *ngIf="!departureDate || !departureTime">*</span></label>
                            <div class="departure-input">
                                <input id="departure-date" name="departure-date" type="date" [(ngModel)]="departureDate">
                                <input id="departure-time" name="departure-time" type="time" [(ngModel)]="departureTime">
                            </div>
                        </div>
                        <div class="form-item">
                            <label>Return date/time <span class="required" *ngIf="!returnDate || !returnTime">*</span></label>
                            <div class="return-input">
                                <input id="return-date" name="return-date" type="date" [(ngModel)]="returnDate">
                                <input id="return-time" name="return-time" type="time" [(ngModel)]="returnTime">
                            </div>
                        </div>
                        <div class="form-item">
                            <label for="location">Location <span class="required" *ngIf="!selectedLocation">*</span></label>
                            <div class="location-input">
                                <select id="location" name="location" [(ngModel)]="selectedLocation">
                                    <option value="" disabled selected hidden>กรุณาเลือกสถานที่</option>
                                    <option *ngFor="let location of locatoions" [value]="location.value">{{ location.label }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-item" *ngIf="selectedLocation === '-1'">
                            <label for="other">Other location <span class="required" *ngIf="!other">*</span></label>
                            <div class="other-input">
                                <input type="text" id="other" name="other" placeholder="ระบุสถานที่" [(ngModel)]="other">
                            </div>
                        </div>
                        <div class="form-item">
                            <label>Passenger</label>
                            <div class="passenger-input">
                                <app-multi-select (selectedItemsChange)="handleSelectedItemsChange($event)"></app-multi-select>
                            </div>
                        </div>
                        
                        <div class="form-item">
                            <label for="purpose">Purpose of use <span class="required" *ngIf="!purpose">*</span></label>
                            <div class="purpose-input">
                                <textarea id="purpose" [(ngModel)]="purpose" placeholder="วัตถุประสงค์ในการขอใช้"></textarea>
                            </div>
                        </div>
                        <div class="form-item">
                            <label for="st-maileage">Starting mileage number</label>
                            <div class="st-maileage-input">
                                <input id="st-maileage" name="st-maileage" type="number" [(ngModel)]="startMaileage" placeholder="เลขไมล์ก่อนใช้">
                            </div>
                        </div>
                        <div class="form-item">
                            <label for="end-maileage">Ending mileage number</label>
                            <div class="end-maileage-input">
                                <input id="end-maileage" name="end-maileage" type="number" [(ngModel)]="endMaileage" placeholder="เลขไมล์หลังใช้">
                            </div>
                        </div>
                        <div class="form-item">
                            <label for="easy-pass">Easy pass remaining</label>
                            <div class="easy-pass-input">
                                <input id="easy-pass" name="easy-pass" type="easy-pass" [(ngModel)]="easyPass" placeholder="Easy-pass คงเหลือ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button (click)="onAppClick()" type="submit" class="confirm-btn">
                        <p>Confirm</p>
                    </button>
                    <button (click)="goBack()" class="cancel-btn">
                        <p>Cancel</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isWarningAlertVisible || isAnimating" class="backdrop" (click)="closeWarningAlert()">
    <app-warning-alert [ngClass]="{'animate-alert-in': isWarningAlertVisible, 'animate-alert-out': isAnimating}"
        [message]="alertMessage" (cancel)="closeWarningAlert()"></app-warning-alert>
</div>

<div *ngIf="isSuccessAlertVisible || isAnimating" class="backdrop" (click)="closeSuccessAlert()">
    <app-success-alert [ngClass]="{'animate-alert-in': isSuccessAlertVisible, 'animate-alert-out': isAnimating}"
        [message]="alertMessage" (cancel)="closeSuccessAlert()"></app-success-alert>
</div>