$color1: #265F61;
$color2: #36858A;
$color3: #265F62;
$color4: #d4e4e4;
$color5: #A9A9AC;

.car-form {
    height: 100vh;

    .car-form-warp {
        margin-top: 90px;

        .head {
            display: flex;
            align-items: center;

            img {
                width: 30px;
                height: 30px;
                margin-right: 12px;
                filter: invert(27%) sepia(35%) saturate(800%) hue-rotate(143deg) brightness(95%) contrast(90%);
            }

            h1 {
                margin-top: 12px;
                font-size: 18px;
                font-weight: bold;
                color: $color1;
            }
        }

        .form {
            .form-wrap {
                margin-top: 20px;

                .car-select {
                    p {
                        font-size: 12px;
                        font-weight: bold;
                        color: $color1;
                        margin-bottom: 3px;
                    }

                    .car-input {
                        select {
                            width: 100%;
                            height: 30px;
                            border: 1px solid $color1 ;
                            border-radius: 5px;
                            font-size: 12px;
                            padding: 0 5px;
                        }

                        select:focus {
                            background-color: $color4;
                            outline: none;
                        }
                    }
                }

                .location-form {
                    margin-top: 16px;

                    p {
                        font-size: 12px;
                        font-weight: bold;
                        color: $color1;
                        margin-bottom: 3px;
                    }

                    .location-input {
                        select {
                            width: 100%;
                            height: 30px;
                            border: 1px solid $color1 ;
                            border-radius: 5px;
                            font-size: 12px;
                            padding: 0 5px;
                        }

                        select:focus {
                            background-color: $color4;
                            outline: none;
                        }
                    }
                }

                .purpose-form {
                    margin-top: 16px;

                    P {
                        font-size: 12px;
                        font-weight: bold;
                        color: $color1;
                        margin-bottom: 3px;
                    }

                    .purpose-input {
                        display: flex;

                        textarea {
                            width: 100%;
                            height: 90px;
                            border: 1px solid $color1 ;
                            border-radius: 5px;
                            font-size: 12px;
                            padding: 5px;
                        }
                    }

                    textarea:focus {
                        background-color: $color4;
                        outline: none;
                    }
                }

                .st-maileage-form {
                    margin-top: 16px;

                    p {
                        font-size: 12px;
                        font-weight: bold;
                        color: $color1;
                        margin-bottom: 3px;
                    }

                    .st-maileage-input {
                        display: flex;

                        input {
                            width: 100%;
                            height: 30px;
                            border: 1px solid $color1 ;
                            border-radius: 5px;
                            font-size: 12px;
                            padding: 0 5px;
                        }
                    }

                    input:focus {
                        background-color: $color4;
                        outline: none;
                    }
                }

                .end-maileage-form {
                    margin-top: 16px;

                    p {
                        font-size: 12px;
                        font-weight: bold;
                        color: $color1;
                        margin-bottom: 3px;
                    }

                    .end-maileage-input {
                        display: flex;

                        input {
                            width: 100%;
                            height: 30px;
                            border: 1px solid $color1 ;
                            border-radius: 5px;
                            font-size: 12px;
                            padding: 0 5px;
                        }
                    }

                    input:focus {
                        background-color: $color4;
                        outline: none;
                    }
                }

                .departure-form {
                    margin-top: 16px;

                    p {
                        font-size: 12px;
                        font-weight: bold;
                        color: $color1;
                        margin-bottom: 3px;
                    }

                    .departure-input {
                        display: flex;
                        justify-content: space-between;

                        input[type="date"] {
                            width: 45%;
                            height: 30px;
                            border: 1px solid $color1 ;
                            border-radius: 5px;
                            font-size: 12px;
                            padding: 0 5px;
                        }

                        input[type="time"] {
                            width: 45%;
                            height: 30px;
                            border: 1px solid $color1 ;
                            border-radius: 5px;
                            font-size: 12px;
                            padding: 0 5px;
                        }

                        input[type="date"]:focus,
                        input[type="time"]:focus {
                            outline: none;
                            background-color: $color4;
                        }
                    }
                }

                .return-form {
                    margin-top: 16px;

                    p {
                        font-size: 12px;
                        font-weight: bold;
                        color: $color1;
                        margin-bottom: 3px;
                    }

                    .return-input {
                        display: flex;
                        justify-content: space-between;

                        input[type="date"] {
                            width: 45%;
                            height: 30px;
                            border: 1px solid $color1 ;
                            border-radius: 5px;
                            font-size: 12px;
                            padding: 0 5px;
                        }

                        input[type="time"] {
                            width: 45%;
                            height: 30px;
                            border: 1px solid $color1 ;
                            border-radius: 5px;
                            font-size: 12px;
                            padding: 0 5px;
                        }

                        input[type="date"]:focus,
                        input[type="time"]:focus {
                            outline: none;
                            background-color: $color4;
                        }
                    }
                }

                .easy-pass-form {
                    margin-top: 16px;

                    p {
                        font-size: 12px;
                        font-weight: bold;
                        color: $color1;
                        margin-bottom: 3px;
                    }

                    .easy-pass-input {
                        display: flex;

                        input {
                            width: 100%;
                            height: 30px;
                            border: 1px solid $color1 ;
                            border-radius: 5px;
                            font-size: 12px;
                            padding: 0 5px;
                        }
                    }

                    input:focus {
                        background-color: $color4;
                        outline: none;
                    }
                }

                .passenger-select {
                    margin-top: 16px;

                    p {
                        font-size: 12px;
                        font-weight: bold;
                        color: $color1;
                        margin-bottom: 3px;
                    }
                }
            }
        }

        .btn-wrap {
            margin-top:25px ;
            padding-bottom: 100px;

            .confirm-btn {
                width: 100%;
                background-color: $color1;
                color: white;
                font-weight: bold;
                border-radius: 5px;
                border: 0px;
                height: 41px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

                p {
                    font-size: 12px;
                    font-weight: bold;
                }
            }

            .confirm-btn:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                cursor: pointer;
            }

            .cancel-btn {
                margin-top: 16px;
                width: 100%;
                color: $color1;
                background-color: $color4;
                border-radius: 5px;
                border: 0px;
                height: 41px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

                p {
                    font-size: 12px;
                    font-weight: bold;
                }
            }

            .cancel-btn:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                cursor: pointer;
            }
        }
    }
}

// ------------------------------------------------------------------------------------------

@media (min-width: 600px) {
    .car-form {
        .car-form-warp {
            .form {
                .form-wrap {
                    .departure-form {
                        .departure-input {
                            display: flex;
                            justify-content: space-between;

                            input[type="date"] {
                                width: 47%;
                                height: 30px;
                            }

                            input[type="time"] {
                                width: 47%;
                                height: 30px;
                            }
                        }
                    }

                    .return-form {
                        margin-top: 16px;

                        .return-input {
                            display: flex;
                            justify-content: space-between;

                            input[type="date"] {
                                width: 47%;
                                height: 30px;
                            }

                            input[type="time"] {
                                width: 47%;
                                height: 30px;
                            }
                        }
                    }
                }
            }

            .btn-wrap {
                margin: 30px 0;
                display: flex;
                justify-content: space-between;

                .confirm-btn {
                    width: 49%;
                }

                .cancel-btn {
                    margin-top: 0px;
                    width: 49%;
                }
            }
        }
    }
}

// ------------------------------------------------------------------------------------------

@media (min-width: 800px) {
    .car-form {
        .car-form-warp {
            .form {
                .form-wrap {
                    .departure-form {
                        .departure-input {
                            display: flex;
                            justify-content: space-between;

                            input[type="date"] {
                                width: 48%;
                                height: 30px;
                            }

                            input[type="time"] {
                                width: 48%;
                                height: 30px;
                            }
                        }
                    }

                    .return-form {
                        margin-top: 16px;

                        .return-input {
                            display: flex;
                            justify-content: space-between;

                            input[type="date"] {
                                width: 48%;
                                height: 30px;
                            }

                            input[type="time"] {
                                width: 48%;
                                height: 30px;
                            }
                        }
                    }
                }
            }

            .btn-wrap {
                margin: 30px 0;
                display: flex;
                justify-content: space-between;

                .confirm-btn {
                    width: 49%;
                }

                .cancel-btn {
                    margin-top: 0px;
                    width: 49%;
                }
            }
        }
    }
}

// ------------------------------------------------------------------------------------------

@media (min-width: 1024px) {
    .car-form {
        height: 100vh;

        .car-form-box {
            display: flex;
            justify-content: center;

            .car-form-warp {
                margin-top: 90px;
                width: 50%;

                .form {
                    .form-wrap {
                        margin-top: 50px;

                        .car-select {
                            p {
                                font-size: 12px;
                                font-weight: bold;
                                color: $color1;
                                margin-bottom: 3px;
                            }

                            .car-input {
                                select {
                                    width: 100%;
                                    height: 40px;
                                    border: 1px solid $color1 ;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    padding: 0 5px;
                                }

                                select:focus {
                                    background-color: $color4;
                                    outline: none;
                                }
                            }
                        }

                        .location-form {
                            margin-top: 30px;

                            p {
                                font-size: 12px;
                                font-weight: bold;
                                color: $color1;
                                margin-bottom: 3px;
                            }

                            .location-input {
                                select {
                                    width: 100%;
                                    height: 40px;
                                    border: 1px solid $color1 ;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    padding: 0 5px;
                                }

                                select:focus {
                                    background-color: $color4;
                                    outline: none;
                                }
                            }
                        }

                        .purpose-form {
                            margin-top: 30px;

                            P {
                                font-size: 12px;
                                font-weight: bold;
                                color: $color1;
                                margin-bottom: 3px;
                            }

                            .purpose-input {
                                display: flex;

                                textarea {
                                    width: 100%;
                                    height: 90px;
                                    border: 1px solid $color1 ;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    padding: 5px;
                                }
                            }

                            textarea:focus {
                                background-color: $color4;
                                outline: none;
                            }
                        }

                        .st-maileage-form {
                            margin-top: 30px;

                            p {
                                font-size: 12px;
                                font-weight: bold;
                                color: $color1;
                                margin-bottom: 3px;
                            }

                            .st-maileage-input {
                                display: flex;

                                input {
                                    width: 100%;
                                    height: 40px;
                                    border: 1px solid $color1 ;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    padding: 0 5px;
                                }
                            }

                            input:focus {
                                background-color: $color4;
                                outline: none;
                            }
                        }

                        .end-maileage-form {
                            margin-top: 30px;

                            p {
                                font-size: 12px;
                                font-weight: bold;
                                color: $color1;
                                margin-bottom: 3px;
                            }

                            .end-maileage-input {
                                display: flex;

                                input {
                                    width: 100%;
                                    height: 40px;
                                    border: 1px solid $color1 ;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    padding: 0 5px;
                                }
                            }

                            input:focus {
                                background-color: $color4;
                                outline: none;
                            }
                        }

                        .departure-form {
                            margin-top: 30px;

                            p {
                                font-size: 12px;
                                font-weight: bold;
                                color: $color1;
                                margin-bottom: 3px;
                            }

                            .departure-input {
                                display: flex;
                                justify-content: space-between;

                                input[type="date"] {
                                    width: 47%;
                                    height: 40px;
                                    border: 1px solid $color1 ;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    padding: 0 5px;
                                }

                                input[type="time"] {
                                    width: 47%;
                                    height: 40px;
                                    border: 1px solid $color1 ;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    padding: 0 5px;
                                }

                                input[type="date"]:focus,
                                input[type="time"]:focus {
                                    outline: none;
                                    background-color: $color4;
                                }
                            }
                        }

                        .return-form {
                            margin-top: 16px;

                            p {
                                font-size: 12px;
                                font-weight: bold;
                                color: $color1;
                                margin-bottom: 3px;
                            }

                            .return-input {
                                display: flex;
                                justify-content: space-between;

                                input[type="date"] {
                                    width: 47%;
                                    height: 40px;
                                    border: 1px solid $color1 ;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    padding: 0 5px;
                                }

                                input[type="time"] {
                                    width: 47%;
                                    height: 40px;
                                    border: 1px solid $color1 ;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    padding: 0 5px;
                                }

                                input[type="date"]:focus,
                                input[type="time"]:focus {
                                    outline: none;
                                    background-color: $color4;
                                }
                            }
                        }

                        .easy-pass-form {
                            margin-top: 30px;

                            p {
                                font-size: 12px;
                                font-weight: bold;
                                color: $color1;
                                margin-bottom: 3px;
                            }

                            .easy-pass-input {
                                display: flex;

                                input {
                                    width: 100%;
                                    height: 40px;
                                    border: 1px solid $color1 ;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    padding: 0 5px;
                                }
                            }

                            input:focus {
                                background-color: $color4;
                                outline: none;
                            }
                        }

                        .passenger-select {
                            margin-top: 30px;

                            p {
                                font-size: 12px;
                                font-weight: bold;
                                color: $color1;
                                margin-bottom: 3px;
                            }
                        }
                    }
                }

                .btn-wrap {
                    margin: 80px 0;
                    display: flex;
                    justify-content: space-between;
                    .confirm-btn {
                        width: 49%;
                    }
                    .cancel-btn {
                        margin-top: 0px;
                        width: 49%;
                    }
                }
            }
        }
    }
}

