<div class="edit-pass-form">
    <div class="container">
        <div class="pass-form-box">
            <div class="pass-form-warp">
                <div class="head">
                    <img src="/assets/portfolio.png" alt="pass">
                    <h1>Employee Pass Edit Form</h1>
                </div>
                <div class="form">
                    <div class="form-wrap">
                        <div class="departure-form">
                            <p>Departure date</p>
                            <div class="departure-input">
                                <input id="departure-date" name="departure-date" type="date">
                                <input id="departure-time" name="departure-time" type="time">
                            </div>
                        </div>
                        <div class="return-form">
                            <p>Return date</p>
                            <div class="return-input">
                                <input id="return-date" name="return-date" type="date">
                                <input id="return-time" name="return-time" type="time">
                            </div>
                        </div>
                        <div class="location-form">
                            <p>Location</p>
                            <div class="location-input">
                                <select id="location" name="location" [(ngModel)]="selectedLocation">
                                    <option value="" disabled selected hidden>กรุณาเลือกสถานที่</option>
                                    <option *ngFor="let location of locatoions" [value]="location.value">{{ location.label }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="other-form" *ngIf="selectedLocation === '-1'">
                            <p>Other location</p>
                            <div class="other-input">
                                <input type="text" id="other" name="other" placeholder="ระบุสถานที่">
                            </div>
                        </div>
                        <div class="purpose-form">
                            <p>Purpose of departure</p>
                            <div class="purpose-input">
                                <input type="text" id="purpose" name="purpose" placeholder="วัตถุประสงค์ในการเดินทาง">
                            </div>
                        </div>
                        <div class="remark-form">
                            <p>Remark</p>
                            <div class="remark-input">
                                <textarea id="remark" name="remark" placeholder="หมายเหตุ"></textarea>
                            </div>
                        </div>
                        <div class="passenger-form">
                            <div class="passenger-input">
                                <input type="checkbox" id="passenger" name="passenger" [(ngModel)]="isChecked">
                                <label for="checkbox">Passenger (ผู้โดยสาร)</label>
                            </div>
                        </div>
                        <div class="passenger-car-form" *ngIf="isChecked">
                            <div class="passenger-car-input">
                                <select id="passenger-car" name="passenger-car">
                                    <option value="0" disabled selected hidden>กรุณาเลือกรถที่โดยสาร</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button type="submit" class="confirm-btn">
                        <p>Confirm</p>
                    </button>
                    <button class="cancel-btn">
                        <p>Cancel</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

