<div class="warning-alert">
    <div class="container">
        <div class="warning-alert-wrap">
            <div class="head">
                <ng-lottie [options]="options"></ng-lottie>
                <h1>{{ message }}</h1>
            </div>
            <div class="warning-alert-btn">
                <!-- <a routerLink="/car-form"> -->
                    <div class="ok-btn">
                        <p>OK</p>
                    </div>
                <!-- </a> -->
            </div>
        </div>
    </div>
</div>
