// You can add global styles to this file, and also import other style files
$color1: #265F61;
$color2: #36858A;
$color3: #265F62;
$color4: #d4e4e4;
$color5: #A9A9AC;

// html,
// body {
//   font-family: 'Prompt', 'FontAwesome';
// }

* {
    // font-family: "Roboto", sans-serif;
    // font-weight: 100;
    // font-style: normal;

    font-family: 'Prompt', 'FontAwesome';
    font-weight: 100;
    font-style: normal;

}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Prompt', 'FontAwesome';
}

.container {
    width: 85%;
    height: auto;
    margin: 0 auto;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

.hr{
    margin: none;
}
.hr-1 {
    background-color: $color1;
    height: 3px;
    border: 0px;
}

.hr-2{
    background-color: white;
    height: 3px;
    border: 0px;
}


a {
    text-decoration: none;
    cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
